.banner {
    background: url(images/Rectangle\ 1.png) lightgray 50% / cover no-repeat;
    width: 100%;
    height: 300px;
    padding-top: 120px;
    position: relative;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(1px);
}

.content-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    position: relative;
    z-index: 1;
}

.content-banner-title {
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.content-banner-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.content-banner-links a {
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 98px;
    gap: 14px;
}

.contact-title {
    margin: 0 auto;
    text-align: center;
    width: 644px;
}

.title-contact {
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description-contact {
    color: #9F9F9F;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-info {
    width: 393px;
    height: 537px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 58px 75px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
}

.contact-form {
    width: 630px;
    height: 100%;
    padding: 52px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.contact-form input,
textarea {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    background: #FFF;
    box-sizing: border-box;
    padding: 0 20px;
}

.contact-form button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid var(--Primary, #B88E2F);
    background: var(--Primary, #B88E2F);
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-form button:hover {
    background: #FFF;
    color: var(--Primary, #B88E2F);
}
