body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: Poppins;
    font-style: normal;
}

/* header */

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #FFFFFF;
    padding: 10px 0;
}

.logo h1 {
    margin: 0;
    color: #f0f0f0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a:hover {
    color: #B88E2F;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.icons {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 5px 0px;
}

/* main */
/* Seccion: home */

.contain {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
}

.content-home {
    width: 100%;
    height: 715px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.orientation-left {
    justify-content: left;
}

.orientation-right {
    justify-content: right;
}

.orientation-center {
    justify-content: center;
}

.custom-image-slide1 {
    background-image: url(images/slide1.png);
}

.custom-image-slide2 {
    background-image: url(images/slide2.jpg);
}

.custom-image-slide3 {
    background-image: url(images/slide3.jpg);
}

.banner-content-home {
    background-color: #FFF3E3;
    padding: 37px 39px;
    border-radius: 5px;
    width: 640px;
    height: auto;
    box-sizing: border-box;
    margin: 100px 60px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.banner-content-home h1 {
    color: var(--Font-Color, #333);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
    margin: 0;
}

.banner-content-home p {
    color: var(--Font-Color, #333);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.banner-content-home h2 {
    color: var(--Primary, #B88E2F);
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
    margin: 0;
}

.center-text {
    text-align: center;
    align-items: center;
}

.btn-content-home {
    background-color: #B88E2F;
    color: #FFFFFF;
    padding: 27px 70px;
    border-radius: 2px;
    text-decoration: none;
    margin-top: 46px;
    text-align: center;
    width: 222px;
    height: 74px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    font-weight: bold;
}

.btn-content-home:hover {
    background-color: #505050;
}

/* Seccion 2 */

.content-options {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 40px 130px;
    text-align: center;
}

.content-options h2 {
    color: var(--Font-Color, #333);
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.description-content-options {
    color: var(--Font-Color1, #666);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
    height: auto;
    flex-direction: row;
}

.option {
    width: 380px;
    height: 546px;
}

.option img {
    width: 100%;
    height: 480px;
    border-radius: 10px;
    background: #111;
}

.option-name {
    color: var(--Font-Color, #333);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-top: 27px;
}

/* Seccion 3 */

.view-products {
    background-color: #FFF;
    width: 100%;
    height: auto;
    padding: 25px 102px;
}

.title-view-product {
    color: var(--Color-Gray-1, #3A3A3A);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.products {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 50px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 285px;
    height: 446px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.image-product {
    width: 285px;
    height: 301px;
}

.content-product {
    width: 285px;
    height: 145px;
    background: var(--Color-Light-BG, #F4F5F7);
    padding: 17px;
    box-sizing: border-box;
}

.name-product {
    color: var(--Color-Gray-1, #3A3A3A);
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
}

.description {
    color: var(--Color-Gray-3, #898989);
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    margin: 3px 0;
}

.price {
    color: var(--Color-Gray-1, #3A3A3A);
    font-size: 17px;
    font-weight: 600;
    line-height: 150%;
    margin: 8px 0;
}

.btn-view-product {
    border: 1px solid var(--Primary, #B88E2F);
    background: #FFF;
    width: 245px;
    height: 48px;
    flex-shrink: 0;
    color: var(--Primary, #B88E2F);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
    padding: 12px 70px;
    text-decoration: none;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
}

.btn-view-product:hover {
    background: var(--Primary, #B88E2F);
    color: #FFF;
}

/* footer */

footer {
    padding: 48px 100px 38px 100px;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    background: #f8f8f8;
    width: 100%;
    margin-top: 30px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-up {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 92%;
    margin-bottom: 40px;
}

.content-footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.content-footer-logo h3 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.content-footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    margin-right: 10px;
}

.content-footer-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.content-footer-links a:hover {
    color: #4b4b4b;
}

.content-footer-links h5 {
    color: #9F9F9F;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 40px 0;
}

.footer-down {
    padding-top: 35px;
    width: 92%;
    justify-content: center;
    border-top: #D9D9D9 1px solid;
}

.footer-down p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}